/*Variables, son similares a las customs properties*/
$fuente_principal: "Montserrat", sans-serif;
$color-1: #07f9a2;
$color-2: #09c184;
$color-3: #0a8967;
$color-4: #0c5149;
$color-5: #0d192b;
$negro: #000;
$blanco: #fff; 

//Media Queries
$telefono: 480px;
$tablet: 768px;
$escritorio: 1200px;
$escritorioXL: 1400px;
