@use "../base/variables" as v; 
@use "../base/mixins" as m; 

.galeria{
    padding-bottom: 0;
    &-titulo{
        text-transform: uppercase
    }
    @include m.contenedor; 
    &-imgs{
        @include m.tablet{
            @include m.gridSim(2)
        }
        @include m.escritorio{
            @include m.gridSim(3)
        }
    }
    &-img{
        border-radius: 1rem;
        display: block;
        height: 50rem;
        object-fit: cover;
        margin-bottom: 3rem;
    }
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 5rem;
    inset: 0;
    background-color: rgba(0,0,0,0.7);

    //Animación al hacer click sobre la img. 
    animation: fadeIn ease-in .7s;
    
    &-img{
        width: 70rem;
        height: 70rem;
        object-fit: cover;
    }
    &-fadeOut{
        animation: fadeOut ease-in .7s;
    }
}
.btn-cerrar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}